

body {
  background-color: #c4c0be;
}

article a {
  color: darkblue;
}

.wrapper {
  background: url(../images/background_light.jpg) no-repeat;
}

header {
<<<<<<< HEAD
  width:1000px;
  padding: 20px 0;
  margin-left: 100px;

=======
  width: 1000px;
  padding: 20px 0;
  margin-left: 100px;
>>>>>>> 2f87aafff6706e30779ac2326ee4451c8194c8bd
}

header img {
  width: 172px;
  height: 68px;
}

.box {
<<<<<<< HEAD
  /*height:500px;*/
  width:864px;
  /*background: blue;*/
=======
  width: 864px;
  height: 1000px;
>>>>>>> 2f87aafff6706e30779ac2326ee4451c8194c8bd
  margin-left: 100px;
  background: url(../images/background_block_slice.jpg) repeat-x, #FFFFFF;
}

article {
/*added background-color to the article for debugging purposes*/
  /*background-color: lightblue;*/
  width: 410px;
  height: 300px;
  float: left;
  margin: 18px;
}

.primary_image img {
<<<<<<< HEAD
  display: block;
  float:left;
  margin:10px;
=======
>>>>>>> 2f87aafff6706e30779ac2326ee4451c8194c8bd
  width: 378px;
  float: left;
  border: 1px solid lightgray;
  margin: 18px;
}

.clear {
  clear: both;
}

section {
  width: 630px;
  height: 500px;
  float: left;
  background: url(../images/background_block_slice.jpg) repeat-x, #FFFFFF;
}

nav {
<<<<<<< HEAD
  float:left;
  width: 234px;
  height: 500px;
  background: #A9A9A9;
}

nav h4 {
  margin-left: 10px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
}

nav li {
  margin-bottom: 5px;
}
=======
  width: 234px;
  height: 500px;
  background-color: #a9a9a9;
  float: left;
}
>>>>>>> 2f87aafff6706e30779ac2326ee4451c8194c8bd
