body {
  background-color: #c4c0be;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

article p:nth-of-type(1) {
  font-weight: bold;
  color: #595856;
}

article a {
  color: #2668b7;
}

.wrapper {
  background: url(../images/background_light.jpg) no-repeat;
  background-size: 100%;
}

header {
  width: 1000px;
  padding: 20px 0;
  margin-left: 100px;
}

.box {
  width: 864px;
  margin-left: 100px;
  background: url(../images/background_block_slice.jpg) repeat-x, #FFFFFF;
}

article {
/*added background-color to the article for debugging purposes*/
  /*background-color: lightblue;*/
  width: 410px;
  float: left;
  margin: 18px;
}

article p {
  font-size: 13px;
  color: #7f7d78;
}

.primary_image img {
  display: block;
  width: 378px;
  float: left;
  border: 1px solid lightgray;
  margin: 18px;
}

.clear {
  clear: both;
}

section {
  width: 630px;
  float: left;
  background: url(../images/background_block_slice.jpg) repeat-x, #FFFFFF;
}

nav {
  width: 234px;
  background-color: #a9a9a9;
  float: left;
}

nav h4 {
  margin-left: 10px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
}

nav li {
  margin-bottom: 5px;
}